.cardComponent{
    border: 0px;
    padding: 13px 30px;
    border-radius: 5px;
    line-height: 4rem;
    box-shadow: 5px 5px 5px grey;
    color: #222429;

}
.cardComponent:hover{
    box-shadow: 10px 10px 10px grey;
    color: black;
    background: white !important;
}