.Container{
    width: 100%;
    padding: 2rem;
}
.projectLink{
    padding: 1rem;
}
/* .projectLink:hover{
    box-shadow: 10px 10px 10px grey;
    color: black;
    background: white;
} */

.linkBox{
    width: 100vh;
}
.projectLink:link, .projectLink:visited{
    text-decoration: none;
    
}
.header{
    text-align: center;
}